In [1]:


from jgtpy import JGTIDS as ids,JGTIDSRequest as RQ
from jgtpy import jgtapyhelper as tah
from jgtpy import JGTPDSP as pds

### Corrections

#### 
* _dt_requirements in def _get_ph_surely_fresh(... should be UTC and should return a date requirement that is different according to the timeframe.

```
Refactor using this rule about the trading hours : 
>Open: Sundays, between 5:00 and 5:15 pm EST. Close: Fridays, around 4:55 pm EST. Closed: Fridays 5:00 pm to Sunday 5:00 pm EST.

If we are the weekend, we will want that '_dt_requirements' to be the moment it closed.  Consider it is different foreach timeframes.ex. value when it closes : 
D1: 2024-06-13 21:00:00
m15:2024-06-14 20:30:00
m5:2024-06-14 20:40:00	
H1:2024-06-14 20:00:00
H4: 2024-06-14 17:00:00
W1: 2024-06-08 21:00:00
M1: 2024-05-31 21:00:00
```

In [2]:

i="SPX500"
tfcontext = ["M1","W1","D1","H4","H1","m15","m5"]

#### Validate jgtutils.jgtos

In [3]:

from jgtutils import jgtos as jos
for t in tfcontext:
  print(t)
  print(jos.mk_fn(i,t))
  print(jos.get_pov_local_data_filename(i,t))

M1
SPX500_M1.csv
/src/_jgt/data/pds/SPX500_M1.csv
W1
SPX500_W1.csv
/src/_jgt/data/pds/SPX500_W1.csv
D1
SPX500_D1.csv
/src/_jgt/data/pds/SPX500_D1.csv
H4
SPX500_H4.csv
/src/_jgt/data/pds/SPX500_H4.csv
H1
SPX500_H1.csv
/src/_jgt/data/pds/SPX500_H1.csv
m15
SPX500_m15.csv
/src/_jgt/data/pds/SPX500_m15.csv
m5
SPX500_m5.csv
/src/_jgt/data/pds/SPX500_m5.csv

In [9]:

for t in tfcontext:
  print(t)
  
  fn=pds.get_pov_local_data_filename(i,t)
  print(fn)

M1
/src/_jgt/data/pds/SPX500_M1.csv
W1
/src/_jgt/data/pds/SPX500_W1.csv
D1
/src/_jgt/data/pds/SPX500_D1.csv
H4
/src/_jgt/data/pds/SPX500_H4.csv
H1
/src/_jgt/data/pds/SPX500_H1.csv
m15
/src/_jgt/data/pds/SPX500_m15.csv
m5
/src/_jgt/data/pds/SPX500_m5.csv

In [5]:

t="M1"

quote_count=1200

talligator_flag=False
balligator_flag=True
if talligator_flag:
  quote_count=1200

In [6]:
# dfsrc = pds.getPH(i,t,use_fresh=False,quote_count=quote_count)
dfsrc = pds.getPH(i,t,use_fresh=False,talligator_flag=talligator_flag,quote_count=quote_count)

Quote count after if _get_ph_surely_fresh: 1200
_dt_requirements: 2024-06-15 06:28:34.834374 dt_crop_last: None
Checking if dt range has enough bars
Checking if last row of full match out dt_crop_last with enough bars
 quote_count: 1200 (REQUIRES enough bars after crops)
 dt_last_we_want: 2024-06-15 06:28:34.834374
/src/_jgt/data/pds
/src/_jgt/data/pds/SPX500_M1.csv
Reading uncompressed csv file: /src/_jgt/data/pds/SPX500_M1.csv
  Last row of full does not match out dt_crop_last with enough bars
Our data is not ok, using fresh
/src/_jgt/data/pds
/src/_jgt/data/pds/SPX500_M1.csv
Reading uncompressed csv file: /src/_jgt/data/pds/SPX500_M1.csv
Index(['BidOpen', 'BidHigh', 'BidLow', 'BidClose', 'AskOpen', 'AskHigh',
       'AskLow', 'AskClose', 'Volume', 'Open', 'High', 'Low', 'Close',
       'Median'],
      dtype='object')
DatetimeIndex(['1981-11-30 22:00:00', '1981-12-31 22:00:00',
               '1982-01-31 22:00:00', '1982-02-28 22:00:00',
               '1982-03-31 22:00:00', '1982-04-30 21:00:00',
               '1982-05-31 21:00:00', '1982-06-30 21:00:00',
               '1982-07-31 21:00:00', '1982-08-31 21:00:00',
               ...
               '2023-08-31 21:00:00', '2023-09-30 21:00:00',
               '2023-10-31 21:00:00', '2023-11-30 22:00:00',
               '2023-12-31 22:00:00', '2024-01-31 22:00:00',
               '2024-02-29 22:00:00', '2024-03-31 21:00:00',
               '2024-04-30 21:00:00', '2024-05-31 21:00:00'],
              dtype='datetime64[ns]', name='Date', length=511, freq=None)
------------------------------------
ldf: 511

In [7]:
dfsrc.tail(1)

,BidOpen,BidHigh,BidLow,BidClose,AskOpen,AskHigh,AskLow,AskClose,Volume,Open,High,Low,Close,Median
Date,,,,,,,,,,,,,,
2024-05-31 21:00:00,5292.01,5449.28,5236.66,5429.92,5292.61,5449.78,5237.16,5430.32,1184670,5292.31,5449.53,5236.91,5430.12,5343.22

## --@STCIssue We Have 439 Rows when expected is 1200

```sh
wc -l /src/_jgt/data/pds/SPX500_D1.csv
>1290 /src/_jgt/data/pds/SPX500_D1.csv
```
### --@Observation we have 1290 in the file but the function reads 439.

In [8]:

dfsrc2=dfsrc.copy()
dfsrc

,BidOpen,BidHigh,BidLow,BidClose,AskOpen,AskHigh,AskLow,AskClose,Volume,Open,High,Low,Close,Median
Date,,,,,,,,,,,,,,
1981-11-30 22:00:00,126.10,126.30,121.70,122.60,126.10,126.30,121.70,122.60,0,126.10,126.30,121.70,122.60,124.000
1981-12-31 22:00:00,122.60,122.70,114.90,120.40,122.60,122.70,114.90,120.40,0,122.60,122.70,114.90,120.40,118.800
1982-01-31 22:00:00,120.40,120.40,111.50,113.10,120.40,120.40,111.50,113.10,0,120.40,120.40,111.50,113.10,115.950
1982-02-28 22:00:00,113.10,113.60,107.30,112.00,113.10,113.60,107.30,112.00,0,113.10,113.60,107.30,112.00,110.450
1982-03-31 22:00:00,112.00,119.30,112.00,116.40,112.00,119.30,112.00,116.40,0,112.00,119.30,112.00,116.40,115.650
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-01-31 22:00:00,4850.82,5112.08,4850.82,5092.37,4851.22,5112.58,4851.22,5092.77,1319473,4851.02,5112.33,4851.02,5092.57,4981.675
2024-02-29 22:00:00,5092.37,5271.47,5057.85,5254.75,5092.77,5271.97,5058.35,5255.15,1939214,5092.57,5271.72,5058.10,5254.95,5164.910
2024-03-31 21:00:00,5254.75,5286.72,4929.72,5028.51,5255.15,5287.32,4930.32,5029.11,2705272,5254.95,5287.02,4930.02,5028.81,5108.520
2024-04-30 21:00:00,5028.51,5351.23,5011.43,5292.01,5029.11,5351.83,5011.93,5292.61,1654404,5028.81,5351.53,5011.68,5292.31,5181.605
2024-05-31 21:00:00,5292.01,5449.28,5236.66,5429.92,5292.61,5449.78,5237.16,5430.32,1184670,5292.31,5449.53,5236.91,5430.12,5343.220