In [21]:

from jgtpy import JGTIDS as ids,JGTIDSRequest as RQ
from jgtpy import jgtapyhelper as tah
from jgtpy import JGTPDSP as pds

### PURPOSE: Adequate Migration of IDS to TAH

In [22]:

i="SPX500";t="D1"

quote_count=-1

talligator_flag=False
balligator_flag=True
if talligator_flag:
  quote_count=1200

In [23]:
# Compare the two datasets from ids.tocds(... ) and tah.toids(...)
## -->  MAKE A PLAN

In [24]:
# dfsrc = pds.getPH(i,t,use_fresh=False,quote_count=quote_count)
dfsrc = pds.getPH(i,t,use_fresh=False,talligator_flag=talligator_flag)

In [25]:
dfsrc2=dfsrc.copy()
dfsrc

,BidOpen,BidHigh,BidLow,BidClose,AskOpen,AskHigh,AskLow,AskClose,Volume,Open,High,Low,Close,Median
Date,,,,,,,,,,,,,,
2022-10-03 21:00:00,3682.96,3796.43,3674.16,3791.17,3683.36,3797.03,3674.76,3791.77,172013,3683.16,3796.730,3674.46,3791.47,3735.5950
2022-10-04 21:00:00,3791.17,3806.85,3721.58,3782.65,3791.77,3807.35,3722.08,3783.05,162267,3791.47,3807.100,3721.83,3782.85,3764.4650
2022-10-05 21:00:00,3782.65,3805.71,3736.44,3737.55,3783.05,3806.31,3737.04,3737.95,204682,3782.85,3806.010,3736.74,3737.75,3771.3750
2022-10-06 21:00:00,3737.55,3755.42,3619.33,3635.76,3737.95,3756.37,3619.83,3636.16,182994,3737.75,3755.895,3619.58,3635.96,3687.7375
2022-10-09 21:00:00,3635.76,3655.63,3588.42,3615.73,3636.16,3656.23,3588.92,3616.13,178426,3635.96,3655.930,3588.67,3615.93,3622.3000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-06-09 21:00:00,5343.20,5368.94,5331.62,5362.98,5343.80,5369.44,5332.22,5363.38,88209,5343.50,5369.190,5331.92,5363.18,5350.5550
2024-06-10 21:00:00,5362.98,5380.13,5328.43,5377.98,5363.38,5380.73,5328.93,5378.38,83933,5363.18,5380.430,5328.68,5378.18,5354.5550
2024-06-11 21:00:00,5377.98,5449.28,5374.73,5433.32,5378.38,5449.78,5375.33,5433.72,135364,5378.18,5449.530,5375.03,5433.52,5412.2800
2024-06-12 21:00:00,5433.32,5447.68,5403.46,5431.18,5433.72,5448.28,5403.96,5431.78,102582,5433.52,5447.980,5403.71,5431.48,5425.8450
2024-06-13 21:00:00,5431.18,5433.57,5426.55,5432.06,5431.78,5434.17,5427.15,5432.66,2295,5431.48,5433.870,5426.85,5432.36,5430.3600

In [26]:
dfsrc.head(2)

,BidOpen,BidHigh,BidLow,BidClose,AskOpen,AskHigh,AskLow,AskClose,Volume,Open,High,Low,Close,Median
Date,,,,,,,,,,,,,,
2022-10-03 21:00:00,3682.96,3796.43,3674.16,3791.17,3683.36,3797.03,3674.76,3791.77,172013,3683.16,3796.73,3674.46,3791.47,3735.595
2022-10-04 21:00:00,3791.17,3806.85,3721.58,3782.65,3791.77,3807.35,3722.08,3783.05,162267,3791.47,3807.10,3721.83,3782.85,3764.465

In [27]:
dfsrc.tail(2)

,BidOpen,BidHigh,BidLow,BidClose,AskOpen,AskHigh,AskLow,AskClose,Volume,Open,High,Low,Close,Median
Date,,,,,,,,,,,,,,
2024-06-12 21:00:00,5433.32,5447.68,5403.46,5431.18,5433.72,5448.28,5403.96,5431.78,102582,5433.52,5447.98,5403.71,5431.48,5425.845
2024-06-13 21:00:00,5431.18,5433.57,5426.55,5432.06,5431.78,5434.17,5427.15,5432.66,2295,5431.48,5433.87,5426.85,5432.36,5430.360

In [28]:
#how many rows
dfsrc.shape[0]

439

In [29]:

rq = RQ.JGTIDSRequest(i,t)

In [30]:
rq.talligator_flag=talligator_flag
rq.balligator_flag=balligator_flag

In [31]:

res_jgtids = ids.tocds(dfsrc2,rq=rq)

## BELLOW CONFIRM What is Expected

* JGTIDS (which is more than just IDS) has 60 columns
* TAH (jgtapyhelper) has 41 columns, just IDS

#### In summary

* JGTIDS with ids.tocds(...) GENERATES SIGNALS

----


#### TOCDS (JGTIDS) Signal Columns

fdbb
fdbs
fdb
aoaz
aobz
zlc
zlcb
zlcs
zcol
sz
bz
acs
acb
ss
sb
price_peak_above
price_peak_bellow
ao_peak_above
ao_peak_bellow

----

In [32]:
res_tah= tah.toids(dfsrc,rq=rq)

IDS::debug len(dfsrc):439
 ADDING SQUAT PROTO Will be in CDS Module
IDS::debug len(dfresult):295

In [33]:
res_tah.tail(2)

,BidOpen,BidHigh,BidLow,BidClose,AskOpen,AskHigh,AskLow,AskClose,Volume,Open,...,fl13,fh21,fl21,fh34,fl34,fh55,fl55,fh89,fl89,mfi
Date,,,,,,,,,,,,,,,,,,,,,
2024-06-12 21:00:00,5433.32,5447.68,5403.46,5431.18,5433.72,5448.28,5403.96,5431.78,102582,5433.52,...,0,0,0,0,0,0,0,0,0,43.155719
2024-06-13 21:00:00,5431.18,5433.57,5426.55,5432.06,5431.78,5434.17,5427.15,5432.66,2295,5431.48,...,0,0,0,0,0,0,0,0,0,305.882353

In [34]:

res_tah.columns

Index(['BidOpen', 'BidHigh', 'BidLow', 'BidClose', 'AskOpen', 'AskHigh',
       'AskLow', 'AskClose', 'Volume', 'Open', 'High', 'Low', 'Close',
       'Median', 'ao', 'ac', 'jaw', 'teeth', 'lips', 'bjaw', 'bteeth', 'blips',
       'fh', 'fl', 'fh3', 'fl3', 'fh5', 'fl5', 'fh8', 'fl8', 'fh13', 'fl13',
       'fh21', 'fl21', 'fh34', 'fl34', 'fh55', 'fl55', 'fh89', 'fl89', 'mfi'],
      dtype='object')

In [35]:
# Count number of rows in the two datasets
print("Number of rows in res_jgtids: ",len(res_jgtids))
print("Number of rows in res_tah: ",len(res_tah))

Number of rows in res_jgtids:  295
Number of rows in res_tah:  295

In [36]:
res_jgtids.tail(2)

,BidOpen,BidHigh,BidLow,BidClose,AskOpen,AskHigh,AskLow,AskClose,Volume,Open,...,sz,bz,acs,acb,ss,sb,price_peak_above,price_peak_bellow,ao_peak_above,ao_peak_bellow
Date,,,,,,,,,,,,,,,,,,,,,
2024-06-12 21:00:00,5433.32,5447.68,5403.46,5431.18,5433.72,5448.28,5403.96,5431.78,102582,5433.52,...,0.0,0.0,1.0,0.0,0.0,0.0,0,0,0,0
2024-06-13 21:00:00,5431.18,5433.57,5426.55,5432.06,5431.78,5434.17,5427.15,5432.66,2295,5431.48,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0

In [37]:
res_jgtids.columns

Index(['BidOpen', 'BidHigh', 'BidLow', 'BidClose', 'AskOpen', 'AskHigh',
       'AskLow', 'AskClose', 'Volume', 'Open', 'High', 'Low', 'Close',
       'Median', 'ao', 'ac', 'jaw', 'teeth', 'lips', 'bjaw', 'bteeth', 'blips',
       'fh', 'fl', 'fh3', 'fl3', 'fh5', 'fl5', 'fh8', 'fl8', 'fh13', 'fl13',
       'fh21', 'fl21', 'fh34', 'fl34', 'fh55', 'fl55', 'fh89', 'fl89', 'mfi',
       'fdbb', 'fdbs', 'fdb', 'aoaz', 'aobz', 'zlc', 'zlcb', 'zlcs', 'zcol',
       'sz', 'bz', 'acs', 'acb', 'ss', 'sb', 'price_peak_above',
       'price_peak_bellow', 'ao_peak_above', 'ao_peak_bellow'],
      dtype='object')

In [38]:
res_tah.columns

Index(['BidOpen', 'BidHigh', 'BidLow', 'BidClose', 'AskOpen', 'AskHigh',
       'AskLow', 'AskClose', 'Volume', 'Open', 'High', 'Low', 'Close',
       'Median', 'ao', 'ac', 'jaw', 'teeth', 'lips', 'bjaw', 'bteeth', 'blips',
       'fh', 'fl', 'fh3', 'fl3', 'fh5', 'fl5', 'fh8', 'fl8', 'fh13', 'fl13',
       'fh21', 'fl21', 'fh34', 'fl34', 'fh55', 'fl55', 'fh89', 'fl89', 'mfi'],
      dtype='object')

In [39]:

# Compare the two datasets from ids.tocds(... ) and tah.toids(...)
## List of columns that are different
for c in res_jgtids.columns:
    if c not in res_tah.columns:
        print(c)

fdbb
fdbs
fdb
aoaz
aobz
zlc
zlcb
zlcs
zcol
sz
bz
acs
acb
ss
sb
price_peak_above
price_peak_bellow
ao_peak_above
ao_peak_bellow